.featured-product{
    margin: 60px 180px;

    .top{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;

        h1{
            flex: 2;
            text-transform: capitalize;
        }
        p{
            flex: 3;
            color: gray;
        }
    }

    .bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 50px;
    }
}