.navbar{
    height: 80px;
    .wrapper{
        padding: 10px 30px;
        display: flex;
        justify-content: space-between;

        .item{
            display: flex;
            align-items: center;
            font-size: 15px;
        }

        .left{
            display: flex;
            align-items: center;
            gap: 25px;
        }
        .center{
            font-size: 25px;
            letter-spacing: 2px;
        }
        .right{
            display: flex;
            align-items: center;
            gap: 25px;

        }
        .icons{
            display: flex;
            gap: 15px;
            color: #777;
            cursor: pointer;

            .cartIcon{
                span{
                    font-size: 12px;
                    width: 18px;
                    height: 18px;
                    border-radius: 50%;
                    background-color: rgb(7, 79, 138);
                    color: white;
                    padding: auto;
                    text-align: center;
                    position: absolute;
                    right: 18px;
                    top: 6px;
                }
            }
        }
    }
}
